.App {
  width: 80%;
  /* padding-top: 1.5rem; */
  margin: 1.5rem auto;
}

.toolbar {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.btn-toolbar {
  padding: 0.5rem 1rem;
  border: 1px solid #3b3b3b;  
}

.btn-toolbar:not(:last-child) {
  margin-right: 6px;
}

.btn-noactive {
  background-color: #fff;
  color:#3b3b3b;
}

.btn-active {
  background-color: #3b3b3b;
  color:#fff;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* width: 80%; */
  /* flex-flow: column wrap;   */
  /* max-height: 100vh; */
  gap: 16px;
}

/* .projectList-item:nth-child(3n+1) { order: 1;}
.projectList-item:nth-child(3n+2) { order: 2;}
.projectList-item:nth-child(3n+3) { order: 3;} */

.projectList-item {
  /* display: inline; */
  flex-shrink: 0;
  flex-grow: 0; 
  flex-basis: auto; 
  /* width: 21%;  */
  width: calc(33.33% - 16px); 
}
