.App {
  width: 60%;
  /* padding-top: 1.5rem; */
  margin: 1.5rem auto;
}

.toolbar {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.btn-toolbar {
  padding: 0.5rem 1rem;
  border: 1px solid #3b3b3b;  
}

.btn-toolbar:not(:last-child) {
  margin-right: 6px;
}

.btn-noactive {
  background-color: #fff;
  color:#3b3b3b;
}

.btn-active {
  background-color: #3b3b3b;
  color:#fff;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.projectList-item {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 1rem;
}